<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="reviews_feed" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Reviews Feed</label>
            <tab>magesuite</tab>
            <resource>MageSuite_GoogleReviewsFeed::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="publisher_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Publisher Name</label>
                </field>
                <field id="publisher_favicon_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Publisher Favicon URL</label>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cron Schedule</label>
                    <comment>Please type full cron schedule expression, eg. '59 23 * * *'</comment>
                </field>
            </group>
            <group id="feed" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20" translate="label">
                <label>Feed Configuration</label>
                <field id="filename" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Filename</label>
                    <backend_model>MageSuite\GoogleReviewsFeed\Model\Config\Backend\Filename</backend_model>
                </field>
                <field id="path" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Path</label>
                    <backend_model>MageSuite\GoogleReviewsFeed\Model\Config\Backend\Path</backend_model>
                    <comment>Folder must exist in pub/media folder</comment>
                </field>
            </group>
        </section>
    </system>
</config>
